html, body {
	font-family: 'Roboto',sans-sarif;
	margin: 0px;
	height: 100%;
	width: 100%;
	background: linear-gradient(to bottom, #499e77 0%, #499e77 45%, #456f20 45%, #456f20 100%);
}
#searchbox {
	position: absolute;
	top: 30%;
	left: 30%;
	width: 40%;
	height: 5%;
}
#searchbox > h2 {
	position: relative;
	top: 0%;
	height: 49%;
	left: 5%;
	font-size: 22pt;
}
#searchbox > #query {
	position: relative;
	bottom: 0px;
	left: 0px;
	width: 94%;
	font-size: 24pt;
	height: 100%;
	padding: 0px;
}
#searchbox > #submitquery {
	position: relative;
	bottom: 0px;
	border: 0px;
	right: 0px;
	width: 5%;
	height: 100%;
	padding: 0px;
}
